@font-face {
  font-family: 'BeVietNamPro';
  font-weight: 300;
  src: url('./BeVietnamPro-Light.ttf');
}

@font-face {
  font-family: 'BeVietNamPro';
  font-weight: 400;
  src: url('./BeVietnamPro-Regular.ttf');
}

@font-face {
  font-family: 'BeVietNamPro';
  font-weight: 500;
  src: url('./BeVietnamPro-Medium.ttf');
}

@font-face {
  font-family: 'BeVietNamPro';
  font-weight: 600;
  src: url('./BeVietnamPro-SemiBold.ttf');
}

@font-face {
  font-family: 'BeVietNamPro';
  font-weight: 700;
  src: url('./BeVietnamPro-Bold.ttf');
}
