$THEME_BG_BLACK: #0e1217;
$THEME_BG_BLACK_LIGHT: #1c1f26;
$THEME_TEXT_PRIMARY: #ffffff;
$THEME_TEXT_SECONDARY: #cfd6e6;
$THEME_TEXT_TERTIARY: #a8b3cf;
$LIGHT_BLUE_PRIMARY: #1f4e99;
$WHITE: #ffffff;
$GRAY_PRIMARY: #f0f2f5;
$GRAY_BORDER: #d9d9d9;
$BUTTON_HOVER: #a8b3cf1f;
